@charset "UTF-8";
:root {
  /*Text color*/
  --text-nav-link:#212121;
  --text-primery-color:#757575;
  --text-h2-6-dark-color:#212121;
  --text-h2-6-light-color: #FFFFFF;
  --text-footer-color: #FFFFFF;
  /*Btn-primery color*/
  --btn-text: #FFFFFF;
  --btn-background: #2196F3;
  --btn-border: #2196F3;
  /*Btn-secondary color*/
  --btn-sec-text:#212121;
  --btn-sec-background:#F5F4FA;
  --btn-sec-text-hover:#FFFFFF;
  --btn-sec-background-hover:#2196F3;
  /*Logo color*/
  --logo-accent-color: #2196F3;
  --logo-text-light:#FFFFFF;
  --logo-text-dark:#000000;
  /*Background color*/
  --background-header-color: #FFFFFF;
  --backgraund-hero-color: #2F303A;
  --backgraund-modal-color:#FFFFFF;
  --backgraund-tumd-advantage:#F5F4FA;
  --background-abaut-us-decor:rgba(47, 48, 58, 0.8);
  --backgraund-section: #F5F4FA;
  --background-footer:#2F303A;
  /*Link color*/
  --link-color: #2196F3;
  /*Current*/
  --current-color:#2196F3;
  /*Grit card*/
  --card-set-gap: 30px;
  --card-background: rgba(255, 255, 255, 1);
  --card-text-overlay:#FFFFFF;
  --card-backgraund-overlay:rgba(33, 150, 243, 0.9);
  /*SVG color*/
  --svg-primery-color:#AFB1B8;
  --svg-secondary-color:#FFFFFF;
  --svg-link-color:#2196F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visually-hidden:hover + .check__box,
.visually-hidden:focus + .check__box {
  background-image: url(../images/check-focus.svg);
}

.visually-hidden:checked + .check__box {
  border-radius: 2px;
  background-color: #2196F3;
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: content-box;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-primery-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  color: var(--text-h2-6-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Cars SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set__item {
  border: 1px solid #EEEEEE;
  -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
      flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* CARD */
.card {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__content {
  padding: 20px 25px;
  border-top: 0;
  border: 1px solid #EEEEEE;
  background-color: var(--card-background);
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.59;
  color: var(--card-text-overlay);
  background-color: var(--card-backgraund-overlay);
  opacity: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  opacity: 1;
}

.card__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-h2-6-dark-color);
}

.card__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-primery-color);
}

/* Logo */
.logo {
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--accent {
  color: var(--logo-accent-color);
}

.logo--mode-light {
  color: var(--logo-text-light);
}

.logo--mode-dark {
  color: var(--logo-text-dark);
}

/* Button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primery {
  height: 50px;
  min-width: 200px;
  border-color: var(--btn-border);
  border-radius: 4px;
  color: var(--btn-text);
  background-color: var(--btn-background);
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
}

.button-secondary {
  padding: 6px 22px;
  color: var(--btn-sec-text);
  background-color: var(--btn-sec-background);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  color: var(--btn-sec-text-hover);
  background-color: var(--btn-sec-background-hover);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Social list*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--svg-primery-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--link-color);
  fill: var(--svg-secondary-color);
}

.social__link--fill {
  fill: var(--svg-secondary-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/* Modal windov */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--backgraund-modal-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal__text {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: none;
  color: #212121;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.modal__btn:focus, .modal__btn:hover {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form */
.form {
  padding: 40px;
}
.form ::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form ::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form :-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form ::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form ::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}

.form__fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__label {
  margin-bottom: 4px;
  text-align: left;
}

.form__text {
  display: block;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
  text-transform: none;
  color: var(--text-primery-color);
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px 0px 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form__input:focus ~ .form__icon, .form__input:hover ~ .form__icon {
  fill: var(--svg-link-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  margin-left: 12px;
  top: 45%;
}
.form__icon:focus {
  border: 1px solid #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
}

.check {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-left: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__box {
  position: absolute;
  display: inline-block;
  margin-left: -15px;
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
}

.check__text {
  margin-left: 7px;
  letter-spacing: 0.42px;
  text-transform: none;
  color: var(--text-primery-color);
}

.check__doc {
  text-decoration: underline;
  outline: none;
  color: #2196F3;
}

/*Header*/
.header {
  background-color: var(--background-header-color);
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Nav site*/
.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  color: var(--text-nav-link);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--link-color);
}

.current {
  color: var(--current-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--current-color);
  border-radius: 2px;
}

.phone-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-email__item:not(:first-child) {
  margin-left: 40px;
}

.phone-email__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-);
  fill: var(--text-prinery-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-email__link:hover, .phone-email__link:focus {
  color: var(--link-color);
  fill: var(--link-color);
}

.phone-email__icon {
  margin-right: 10px;
}

/* Herо */
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bacgraund-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bacgraund-hero.jpg);
  background-color: var(--background-header-color);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-transform: uppercase;
}

.hero__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--text-h2-6-light-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  z-index: 55;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Аdvantages */
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__tumba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 100px;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--backgraund-tumd-advantage);
}

.advantages__item {
  width: 270px;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__title {
  margin-bottom: 10px;
  color: var(--text-h2-6-dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* About us */
.abaut-us {
  padding-top: 0;
}

.abaut-us__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abaut-us__item {
  position: relative;
}
.abaut-us__item:not(:last-child) {
  margin-right: 30px;
}

.abaut-us__decor {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--background-abaut-us-decor);
}

.abaut-us__title {
  margin-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-h2-6-light-color);
}

/* Aur team */
.team {
  background-color: var(--backgraund-section);
}

.team__title {
  margin-bottom: 10px;
  color: var(--text-h2-6-dark-color);
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  text-align: center;
}

/* Card Team */
.card-team {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-team__item {
  -ms-flex-preferred-size: calc(25% - var(--card-set-gap));
      flex-basis: calc(25% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-card__content);
}

.team-content {
  padding: 30px 32px;
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
}

/* Aur client */
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client__card:not(:last-child) {
  margin-right: 30px;
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-primery-color);
  fill: #AFB1B8;
  border: 1px Solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover,
.client__icon:focus {
  border-color: var(--svg-link-color);
  fill: var(--svg-link-color);
}

/* Footer */
.footer {
  background: var(--background-footer);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  line-height: 1.14;
  color: #FFFFFF;
}

.address-item {
  margin-top: 12px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:focus,
.address__link:hover {
  color: var(--link-color);
}

.footer__titel {
  margin-bottom: 20px;
  color: var(--text-footer-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer__social {
  margin-left: 70px;
  width: 206px;
}

/* Mailing list*/
.footer__mailing {
  margin-left: 93px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(47, 48, 58);
}

.placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__icon {
  margin-left: 10px;
}

/* Portfolio */
.portfolio__nav {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}/*# sourceMappingURL=main.css.map */