/* Logo */

.logo {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;

    font-family: 'Raleway', sans-serif;
    @include fouts (700, 24px, normal, 0.72px);

    @include mq(tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @include mq(desktop) {
        padding-top: 24px;
        padding-bottom: 25px;

        @include fouts (700, 26px, normal, 0.78px);
    }
}


.logo--accent {
    color: var(--logo-accent-color);
}

.logo--mode-light {
    color: var(--logo-text-light);
}

.logo--mode-dark {
    color: var(--logo-text-dark);
}