/* Modal windov */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;

    background:var(--backgraund-modal-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal__text {
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: none;

    color: #212121;
}

.modal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;

    padding: 6px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;

    cursor: pointer;

    &:focus,
    &:hover {
        fill: #2196F3;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

