.section {
    margin-bottom: 60px;

    @include mq(desktop) {
        margin-bottom: 94px;
    }
}


.title {
    padding-top: 60px;
    padding-bottom: 30px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--text-h2-6-dark-color);

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 50px;
    }
}