/* About-us */

.about-us {
    display: none;

    @include mq(desktop) {
        display: flex;
    }
}

.about-us__H2 {
    padding-top: 0px;
}

.about-us__box {
    display: flex;
    margin: -15px;
}

.about-us__item {
    position: relative;
    width: calc((100% - 2 * var(--card-set-gap)) / 3);
    margin: 15px;
}

.about-us__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    background-color: var(--background-about-us-decor);
}

.about-us__title {
    margin-top: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--text-h2-6-light-color);
}