/* Аdvantages */

.advantages {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.advantages__item {
    @include mq(mobile-only) {
        max-width: 450px;

        &:not(:last-child) {
            margin-bottom: var(--card-set-gap);
        }
    }

    @include mq(tablet) {
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
        margin: 15px;
    }

    @include mq(desktop) {
        max-width: calc((100% - 4 * var(--card-set-gap)) / 4);
        margin: 15px;
    }
}

.advantages__tumba {
    height: 120px;
    padding-top: 25px;
    padding-left: calc((100% - 70px) / 2);

    background-color: var(--backgraund-tumd-advantage);
    margin-bottom: 30px;
}

.advantages__title {
    margin-bottom: 10px;

    color: var(--text-h2-6-dark-color);

    font-family: Roboto;
    @include fouts (700, 14px, 1.14, 0.42px);
    text-align: center;

    @include mq(tablet) {
        text-align: start;
    }
}

.advantages__text {
    font-family: Roboto;
    @include fouts (400, 14px, 1.71, 0.42px);

    color: var(--text-primery-color);
}