/* Footer */
.footer {
    background: var(--background-footer);
}

.footer__item {
    padding: 60px 0px;

    @include mq(desktop) {
        display: flex;
    }
}

.logo-footer {
    display: block;
    margin-right: 0px;
    padding-bottom: 28px;
    padding-top: 0px;

    text-align: center;

    @include mq(desktop) {
        text-align: start;
    }
}

.footer__address {
    @include mq(tablet) {
        display: flex;
        padding-left: 76px;
        padding-right: 89px;
        justify-content: space-between;
    }

    @include mq(desktop) {
        margin-right: 94px;
        padding: 0px;
    }
}

.address {
    margin-bottom: 60px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
    font-style: normal;
    text-align: center;

    color: #FFFFFF;

    @include mq(desktop) {
        margin-bottom: 0px;
        margin-right: 70px;

        text-align: start;
    }
}

.address-item {
    margin-top: 12px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
}

.address__link:focus,
.address__link:hover {
    color: var(--link-color);
}

.footer__titel {
    margin-bottom: 20px;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    color: var(--text-footer-color);

    @include mq(desktop) {
        text-align: start;
    }
}

.footer__social {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

    text-align: center;
    width: 206px;

    @include mq(tablet) {
        margin: 0px;
    }

    // margin-left: 70px;
}

/* Mailing list*/

.footer__mailing {
    text-align: center;
    // margin-left: 93px;
}

.footer__form {
    align-items: center;

    @include mq(desktop) {
        display: flex;
    }
}

.footer__input {
    margin-bottom: 20px;

    width: 100%;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(47, 48, 58, 1);

    @include mq(tablet) {
        width: 450px;
    }

    @include mq(desktop) {
        width: 358px;
        margin-bottom: 0px;
        margin-right: 12px;
    }
}

.placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;

    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.footer__icon {
    margin-left: 10px;
}