/* Herо */

.hero {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bacgraund-hero.jpg);
    background-color:var(--background-header-color);
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    text-transform: uppercase;
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;

    color:var(--text-h2-6-light-color);

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;


    @include mq(desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

