/* Portfolio */

.portfolio__nav {
    display: flex;

    margin-top: 60px;
    margin-bottom: 40px;

    @include mq(mobile-only) {
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
        width: 325px;
    }

    @include mq(tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @include mq(desktop) {
        margin-top: 94px;
        margin-bottom: 60px;
    }
}

.portfolio__item {
    @include mq(tablet) {
        &:not(:first-child) {
            margin-left: 8px;
        }
    }
}